<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <style>
    .hero-list img {
      width: 50px;
    }
  </style>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1>王者荣耀 <small>英雄管理器</small></h1>
    </div>
  </header>
  <div class="container hero-list">
    <form id="form">
      <input type="hidden" id="id" name='id' value="1">
      <input type="hidden" name="img" id="headSrc" value="">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>姓名：</td>
            <td><input type="text" id="name" name="name" value=""></td>
          </tr>
          <tr>
            <td>性别：</td>
            <td>
              <input id="nan" name="gender" value="男" type="radio" checked><label for="nan">男</label>
              <input name="gender" value="女" type="radio" id="nv"><label for="nv">女</label>
            </td>
          </tr>
          <tr>
            <td>头像：</td>
            <td><img src="../static/images/0.jpg" alt="" id="photo" width="100">
              <input type="file" id="img"></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="button" class="btn btn-primary" id="sub" value="完成"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

</body>
<script src="../static/js/jquery.js"></script>
<script>
  //获取到跳转链接传的id
  let heroId = location.search.substring(4);
  console.log(heroId);
  //使用ajax根据id获取英雄数据
  $.ajax({
    type: 'get',
    url: 'http://127.0.0.1:8080/getHeroById',
    data: 'id=' + heroId,
    success: function (res) {
      console.log(res);
      //将获取得到的数据填充到页面表单控件中
      //将获取得到的英雄名称填入名称表单
      $('#name').val(res.data.name);
      //判断得到的性别是男则选择男，是女则选中女
      if (res.data.gender == '男') {
        $('#nan').prop('checked', true);
      } else {
        $('#nv').prop('checked', true);
      }
      //将返回的英雄id填入隐藏域id中
      $('#id').val(res.data.id);
      //将返回的英雄图片文件名填入隐藏域img中
      $('#headSrc').val(res.data.img);
      //将返回的英雄图片文件名填入预览img中
      $('#photo').attr('src', '../static/images/' + res.data.img);
    }
  });

  //获取上传按钮注册改变value值事件
  $('#img').on('change', function () {
    //获取上传的文件信息
    let file = this.files[0];
    console.log(file);
    //将表单所有数据都打包
    let data = new FormData();
    //将文件转化为文件流
    data.append('pic', file);
    //使用ajax请求服务器上传图片
    $.ajax({
      type: 'post',
      url: 'http://127.0.0.1:8080/uploadHeadImg',
      data: data,
      //阻止jq改变请求头
      contentType: false,
      //阻止jq改变数据格式
      processData: false,
      success: function (res) {
        console.log(res);
        //将返回的图片路径拼接设置给预览img
        $('#photo').attr('src', res.baseDir + res.filePath);
        //将返回的图片名设置给隐藏域img
        $('#headSrc').val(res.filePath);
      }
    });
  });

  //给提交按钮注册点击事件
  $('#sub').on('click', function () {
    //判断姓名输入框不为空
    if ($('#name').val().trim().length === 0) {
      alert('姓名不可为空！');
      return;
    }
    //收集表单所有控件数据
    let data = $('form').serialize();
    console.log(data);
    //使用ajax请求英雄修改提交
    $.ajax({
      type: 'post',
      url: 'http://127.0.0.1:8080/eidtHeroById',
      data: data,
      success: function (res) {
        //判断响应成功并弹窗提示用户提交成功并跳转
        if (res.code === 200) {
          alert(res.msg);
          location.href = './index.html';
        }
      }
    });
  });




  // function parseUrlParams() {
  //     var params = location.search.substring(1);// 把?先去除
  //     // 键=值&键=值&键=值
  //     // console.log(params);
  //     // 把参数以&符号分割
  //     var arr = params.split("&");// [键=值,键=值,键=值]
  //     // console.log(arr);
  //     // 把键=值以=分割
  //     // var temp = arr[0].split('=');
  //     // console.log(temp);
  //     // var obj = {};
  //     // obj[temp[0]] = temp[1];
  //     // console.log(obj);
  //     var obj = {};
  //     arr.forEach(function (e) {
  //         // e === 键=值
  //         var temp = e.split('='); //[键,值]
  //         // console.log(temp);
  //         obj[temp[0]] = temp[1];// obj[键] = 值
  //     });
  //     // console.log(obj);
  //     return obj;
  // }

  // // console.log(parseUrlParams());

  // // 直接从url参数里面，获取id
  // var id = parseUrlParams().id;
</script>

</html>