<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <style>
    .hero-list img {
      width: 50px;
      height: 50px;
      display: block
    }

    .hero-list td {
      height: 50px;
      line-height: 50px;
    }
  </style>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1>王者荣耀 <small>英雄管理器</small></h1>

      <a href="javascript:void(0);" class="btn btn-exit btn-primary" hidden style='float:right;'>退出</a>
      <a href="login.html" class="btn btn-login btn-success" style='float:right'>登录</a>
    </div>
  </header>
  <div class="container hero-list">
    <a class="btn btn-add btn-success pull-right" hidden href="./add.html">添加英雄</a>
    <table class="table table-hover" hidden>
      <thead>
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>性别</th>
          <th>头像</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <!-- <tr>
          <td>1</td>
          <td>狗蛋</td>
          <td>男</td>
          <td><img src="../static/images/0.jpg"></td>
          <td><a href="./edit.html?id=1">修改</a> 
            <a data-id="1" href="javscript:void(0);">删除</a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            你确定要删除吗？
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary btn-sure-del" data-id="null">确定</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

</body>
<script type="text/template" id="temp">
  <!-- <%for(var i = 0;i < $data.length;i++) {%>
    <tr>
      <td><%=$data[i].id%></td>
      <td><%=$data[i].name%></td>
      <td><%=$data[i].gender%></td>
      <td><img src="../static/images/<%=$data[i].img%>"></td>
      <td><a href="./edit.html?id=<%=$data[i].id%>">修改</a> 
        <a data-id="<%=$data[i].id%>" id="del" href="javscript:void(0);">删除</a>
      </td>
    </tr>
  <%}%> -->
  {{ each $data val }}
  <tr>
    <td>{{ val.id }}</td>
    <td>{{ val.name }}</td>
    <td>{{ val.gender }}</td>
    <td><img src="../static/images/{{ val.img }}"></td>
    <td><a href="./edit.html?id={{ val.id }}">修改</a>
      <a data-id="{{ val.id }}" id="del" href="javscript:void(0);">删除</a>
    </td>
  </tr>
  {{/each}}
</script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/template-web.js"></script>
<script src="../static/js/ajax.js"></script>
<script>
  //从本地存储取出用户id
  let userId = localStorage.getItem('userId');
  // console.log(userId);
  //判断本地存储是否有数据
  if (!userId) {
    //提示用户没有登录并跳转
    alert('您还没有登录，请前往登录');
    location.href = './login.html';
  }
  //ajax向服务器发送请求
  ajax({
    url: 'http://127.0.0.1:8080/isLogin',
    //将本地存储的id发送服务器
    data: 'id=' + userId,
    callback: function (res) {
      //将服务器返回的字符串转化为对象
      res = JSON.parse(res);
      if (res.code === 200) {
        //将该显示的元素去除hidden属性，该隐藏的加上hidden元素
        $('.btn-login').attr('hidden', true);
        $('.btn-exit,.btn-add,table').removeAttr('hidden');
        ajax({
          type: 'post',
          url: 'http://127.0.0.1:8080/getAllHero',
          callback: function (res) {
            //将服务器返回的字符串转化为对象
            res = JSON.parse(res);
            //判断返回数据中code的值
            if (res.code === 200) {
              let html = template('temp', res.data);
              $('#tbody').html(html);
            } else {
              //提示用户没有登录并跳转
              alert('您还没有登录，请前往登录');
              location.href = './login.html';
            }
          }
        });
      }
    }
  });

  let data;
  let _this;
  //获取删除按钮元素并注册点击事件，使用事件委托
  $('tbody').on('click', '#del', function (e) {
    //获取到要删除的数据的id
    data = $(this).attr('data-id');
    // console.log(data);
    //使用闭包将事件源存储起来
    _this = this;
    //提示用户确认删除
    // let sure = confirm('确认要删除吗?');
    // if (!sure) return;
    $('#modelId').modal('show');
  });
  //在模态框点击确定时删除数据
  $('.modal-footer>button:last-child').on('click', function () {
    //隐藏弹出框
    $('#modelId').modal('hide');
    //删除服务器中对应数据
    $.ajax({
      type: 'get',
      url: 'http://127.0.0.1:8080/deleteHeroById',
      data: 'id=' + data,
      success: function (res) {
        $.ajax({
          type: 'post',
          url: 'http://127.0.0.1:8080/getAllHero',
          success: function (res) {
            //判断返回数据中code的值
            if (res.code === 200) {
              //显示弹出窗并改变里面的文字
              $('#modelId1').modal('show');
              $('#modelId1 .container-fluid').html(res.msg);
              //移除页面元素
              $(_this).parents('tr').remove();
              let html = template('temp', res.data);
              $('#tbody').html(html);
            }
          }
        });
      }
    });
  });
</script>

</html>