<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

</body>

<!-- <script src="http://127.0.0.1:8080/assets/js/jquery.js"></script> -->
<script src="http://127.0.0.1:8080/assets/js/jquery.js"></script>
<script>
  function getData(data) {
    console.log(data);
  }
</script>
<script src="http://127.0.0.1:9090/testcorss?fn=getData"></script>
<script>
  $.ajax({
    url: "http://api.map.baidu.com/telematics/v3/weather",
    data: {
      location: '深圳',
      output: 'json',
      ak: 'zVo5SStav7IUiVON0kuCogecm87lonOj'
    },
    timeout: 3000,
    dataType: 'jsonp',
    success: function (res) {
      console.log(res);
      console.log(res.results[0].weather_data[0].date);
      $('body').html(`${res.results[0].weather_data[0].date}`);
    },
    complete: function () {
      if (status == 'timeout') {
        alert('请求超时，请重试！')
      }
    }
    // xhr: function () {
    //   let xhr = new XMLHttpRequest();
    //   xhr.ontimeout = function () {
    //     alert('请求超时，请重试！')
    //   }
    //   return xhr;
    // }
  });
</script>

</html>