* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.view {
  max-width: 540px;
  min-width: 300px;
  margin: 0 auto;
}
.view .xc-header .header-top {
  display: flex;
  margin-top: 5px;
  height: 90px;
  border-radius: 10px;
  background: #fa7f50;
  color: #fff;
  font-size: 14px;
}
.view .xc-header .header-top > a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  border-right: 1px solid #ccc;
}
.view .xc-header .header-top > a span:last-child {
  width: 43px;
  height: 43px;
  background: url(../images/xc_sprites.png) no-repeat 0px -125px;
  background-size: 104px 327px;
}
.view .xc-header .header-top .header-top-tag {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
.view .xc-header .header-top .header-top-tag a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view .xc-header .header-top .header-top-tag a:nth-child(odd) {
  border-right: 1px solid #fff;
}
.view .xc-header .header-top .header-top-tag a:nth-child(-n+2) {
  border-bottom: 1px solid #fff;
}
.view .xc-header .traffic {
  background: #3d98ff;
}
.view .xc-header .traffic > a span:last-child {
  background-position: 0 -290px;
}
.view .xc-header .travel {
  background: #44c522;
}
.view .xc-header .travel > a span:last-child {
  background-position: 3px -235px;
}
.view .xc-nav {
  display: flex;
  flex-wrap: wrap;
  height: 110px;
  margin-top: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}
.view .xc-nav a {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.view .xc-nav a span:first-child {
  width: 28px;
  height: 28px;
  background: url('../images/un_ico_subnav_v7.124@2x.png') no-repeat;
  background-size: 100%;
  background-position: 0 5px;
}
.view .xc-nav a span.xc-nav-icon2 {
  background-position: 2px -27px;
}
.view .xc-nav a span.xc-nav-icon3 {
  background-position: 2px -60px;
}
.view .xc-nav a span.xc-nav-icon4 {
  background-position: 0 -320px;
}
.view .xc-nav a span.xc-nav-icon5 {
  background-position: 0 -97px;
}
.view .xc-nav a span.xc-nav-icon6 {
  background-position: 5px -160px;
}
.view .xc-nav a span.xc-nav-icon7 {
  background-position: 0 -195px;
}
.view .xc-nav a span.xc-nav-icon8 {
  background-position: 1px -125px;
}
.view .xc-nav a span.xc-nav-icon9 {
  background-position: 0 -225px;
}
.view .xc-nav a span.xc-nav-icon10 {
  background-position: 0 -255px;
}
.view .xc-sale {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}
.view .xc-sale .xc-sale-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.view .xc-sale .xc-sale-top span {
  font-style: italic;
  font-weight: 600;
  color: #fd3c52;
  font-size: 16px;
}
.view .xc-sale .xc-sale-top a {
  padding: 0 8px;
  background: #ff84d2;
  color: #fff;
  line-height: 24px;
  border-radius: 11px;
}
.view .xc-sale .xc-sale-main {
  display: flex;
}
.view .xc-sale .xc-sale-main .sale-main-left {
  flex: 1;
}
.view .xc-sale .xc-sale-main .sale-main-left img {
  width: 100%;
}
.view .xc-sale .xc-sale-main .sale-main-left h5 {
  height: 40px;
  overflow: hidden;
  font-weight: normal;
  font-size: 14px;
}
.view .xc-sale .xc-sale-main .sale-main-left p {
  color: #fe4f5e;
  font-size: 18px;
}
.view .xc-sale .xc-sale-main .sale-main-left p span {
  margin-left: 5px;
  padding: 1px 7px;
  background: #fe4f5e;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
}
.view .xc-sale .xc-sale-main .sale-main-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.view .xc-sale .xc-sale-main .sale-main-right a {
  position: relative;
  height: 48%;
  margin-bottom: 2%;
  background: #f9f9f9;
}
.view .xc-sale .xc-sale-main .sale-main-right a:nth-child(1) {
  width: 100%;
  padding: 10px;
}
.view .xc-sale .xc-sale-main .sale-main-right a:nth-child(1) h4 {
  font-size: 14px;
  color: #fd3a51;
}
.view .xc-sale .xc-sale-main .sale-main-right a:nth-child(1) img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 54px;
  height: 71px;
}
.view .xc-sale .xc-sale-main .sale-main-right a:nth-last-child(-n+2) {
  width: 48%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.view .xc-sale .xc-sale-main .sale-main-right a:nth-last-child(-n+2) h4 {
  color: #6aabff;
  font-size: 14px;
}
.view .xc-sale .xc-sale-main .sale-main-right a:nth-last-child(-n+2) img {
  width: 48px;
  height: 35px;
}
.view .xc-sale .xc-sale-main .sale-main-right a:last-child {
  color: #68d2bc;
}
.view .xc-hot {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}
.view .xc-hot .xc-hot-top {
  display: flex;
  justify-content: space-between;
  height: 25px;
}
.view .xc-hot .xc-hot-top span {
  font-style: italic;
  font-weight: 600;
  color: orange;
  font-size: 16px;
}
.view .xc-hot .xc-hot-top a {
  padding: 0 8px;
  background: #ff84d2;
  color: #fff;
  line-height: 24px;
  border-radius: 11px;
}
.view .xc-hot .xc-hot-main {
  display: flex;
  flex-wrap: wrap;
}
.view .xc-hot .xc-hot-main .hot-main-div {
  width: 50%;
}
.view .xc-hot .xc-hot-main img {
  width: 100%;
}
.view .xc-footer {
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px;
  color: #000;
}
.view .xc-footer .footer-tel {
  display: flex;
}
.view .xc-footer .footer-tel .footer-tel-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view .xc-footer .footer-nav {
  text-align: center;
  margin-bottom: 10px;
}
